
@font-face {
  font-family: 'Giphurs';
  src: url('/giphurs-font-family-1762143552-0//Giphurs-Regular-BF66ce9817c8ef1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Giphurs';
  src: url('/giphurs-font-family-1762143552-0/Giphurs-Medium-BF66ce98181f8e0.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Giphurs';
  src: url('/giphurs-font-family-1762143552-0/Giphurs-Bold-BF66ce980d77a3c.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}